<a href="https://colab.research.google.com/github/Resti000/hacktiv8-exercises/blob/main/Latihan_Resti_%5BQUESTIONS%5D_P0W1D3AM_Exercises_Function_%26_Modules_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LATIHAN - P0W1D3AM : FUNCTION

## Required/Keyword Argument

**NOMOR 1**

Buatlah sebuah function untuk menampilkan tanda plus (`+`) sebanyak 
`n`.
  * Input : `n` | Jumlah tanda plus (`+`) yang diinginkan | int
  * Output : Jumlah tanda plus yang ditampilkan

| Input | Output |
| - | - |
| n = 1 | + |
| n = 3 | + <br /> + <br /> + |
| n = 5 | + <br /> + <br /> + <br /> + <br /> + |
| n = 0 | Tampilkan pesan `Input salah` |
| n = -1 | Tampilkan pesan `Input salah` |

In [ ]:
def cetak_plus(n):
  if n<=0 :
    print("Input salah")
  else :
    for index in range(n):
      print("+")

cetak_plus(3)

+
+
+

**NOMOR 2**

Buat sebuah function untuk mereturn hanya angka genap (positif/negatif) dari sekumpulan list yang berisi nilai-nilai (tidak termasuk 0).
  * Input : `daftar_angka` : daftar angka-angka | list of int
  * Output : daftar angka-angka genap | list of int

| No | Input | Output |
| - | - | - |
| 1 | daftar_angka = [1, 2, 3, 4, 5, 6] | [2, 4, 6] |
| 2 | daftar_angka = [0, 1, 3, 5, 7, 9] | [] |
| 3 | daftar_angka = [-10, -9, -8, -7]  | [-10, -8] |

In [5]:
def cetak_angka_genap(daftar_angka) :
  hasil = []
  for angka in daftar_angka:
    if angka != 0:
      if angka %2 == 0:
        hasil.append(angka)
  print(hasil)

cetak_angka_genap(daftar_angka=[1,2,3,4,5,6])

[2, 4, 6]

In [11]:
def cetak_angka_genap(daftar_angka) :
  hasil = []
  for angka in daftar_angka:
    if angka != 0:
      if angka %2 == 0:
        hasil.append(angka)
  return hasil
#pakai return untuk mematenkan formula agar bisa dipakai berulang

output = cetak_angka_genap(daftar_angka=[1,2,3,4,5,6])
print(output)

[2, 4, 6]

## Default Argument

**NOMOR 3**

Buatlah sebuah function untuk menampilkan `nama` dan `negara`. Jika tidak ada value pada parameter `negara`, isi dengan `Indonesia`.
  * Input : `nama` | str
  * Input : `negara` | str

| No | Input | Output |
| - | - | - |
| 1 | nama = Frank <br /> <br /> negara = USA| "Halo Frank dari USA" |
| 2 | nama = Smith <br /> <br /> negara = Jerman| "Halo Smith dari Jerman" |
| 3 | nama = Anton | "Halo Anton dari Indonesia" |
| 4 | negara = Singapura | *--Program Error--* |

In [7]:
def cetak_nama_dan_negara(nama, negara='Indonesia'):
  print("Halo", nama, "dari", negara)

cetak_nama_dan_negara("Frank", "USA")
cetak_nama_dan_negara("Anton", "Indonesia")

Halo Frank dari USA
Halo Anton dari Indonesia

In [ ]:
#Looping bisa pakai 3 teknik :
#

**NOMOR 4**

Buatlah sebuah function untuk me-return luas dari dua angka yang dimasukkan berdasarkan jenis bidangnya. 
  * Jika hanya 1 angka yang dimasukkan, maka diasumsikan angka tersebut akan digunakan untuk panjang-dan-lebar atau alas-dan-tinggi.
  * Input : `mode` : jenis bidang (segitiga/persegi) | str
    - `mode = segitiga`
    - `mode = persegi`
  * Input : `bilangan_1` : bilangan ke-1 | int
  * Input : `bilangan_2` : bilangan ke-2 | int
  * Jika tidak ada bilangan yang dimasukkan, maka tampilkan pesan **"Input harus ada angka"**.
  * Jika bilangan_1 tidak dimasukkan dan hanya ada bilangan_2, maka tampilkan pesan **"Input harus ada bilangan_1"**.

  > *Rumus luas persegi = bilangan_1 (panjang) * bilangan_2 (lebar)*
  > 
  > *Rumus luas segitiga = bilangan_1 (alas) * bilangan_2 (tinggi) / 2*

---
Asumsi : 
* Angka yang dimasukkan maksimal 2 angka.
* Angka yang dimasukkan hanyalah angka yang lebih besar dari 0.

*Hint : Gunakan konsep bahwa sisi bidang tidak mungkin bernilai 0.*


| No | Input | Output |
| - | - | - |
| 1 | mode = persegi, <br /> <br /> bilangan_1 = 10, <br /> <br /> bilangan_2 = 20 | 200 |
| 2 | mode = segitiga, <br /> <br /> bilangan_1 = 10, <br /> <br /> bilangan_2 = 20 | 100 |
| 3 | mode = persegi | "Input kurang angka" |
| 4 | mode = persegi, <br /> <br /> bilangan_1 = 8 | 64 |
| 5 | mode = persegi, <br /> <br /> bilangan_2 = 8 | "Input harus ada bilangan_1" |
| 6 | bilangan_1 = 10, <br /> <br /> bilangan_2 = 20 | *-Program Error-* |

In [29]:
def hitung_luas(mode, bilangan_1=0, bilangan_2=0):
#jika tidak ada bilangan yg dimasukkan
  if bilangan_1 == 0 and bilangan_2 == 0:
    print("Input harus ada angka")

#jika bilangan_1 tidak dimasukkan
  elif bilangan_1 == 0:
    print("Input harus ada bilangan 1")

#jika hanya ada bilangan_2
  else:
    if bilangan_2 == 0:
      bilangan_2 = bilangan_1

    if mode == "persegi":
      luas = bilangan_1 * bilangan_2
    else:
      luas = bilangan_1 * bilangan_2 / 2
    return int(luas)

hitung_luas(mode = "segitiga", bilangan_1 = 10, bilangan_2 = 20)

100

## Variable-Length Argument

**NOMOR 5**

Buatlah sebuah function untuk : 
  * Mereturn angka disuatu posisi berdasarkan bilangan pertama dari sebuah daftar angka-angka. 
  * Urutan posisi dimulai dari bilangan kedua.
  * Jika bilangan pertama melebihi jumlah banyaknya daftar angka-angka, maka return **-1**. 
  * Input : daftar angka 

| No | Input | Output |
| - | - | - |
| 1 | (3, 10, 20, 30, 40) | 40 |
| 2 | (0, -10, 10)| -10 |
| 3 | (1, 2, 300, 10) | 300 |
| 4 | (100, 200, 300, -400) | -1 |
| 5 | (4, 200, 300, -400) | -1 |

In [31]:
def cetak_angka(posisi, daftar_angka):
  if posisi > len(daftar_angka):
    hasil = -1
  else:
    hasil = daftar_angka[posisi]
  return hasil

cetak_angka(3, (10,20,30,40))

40

In [40]:
def cetak_angka(posisi, *daftar_angka): #* adalah asterik function
  if posisi > len(daftar_angka):
    hasil = 1
  else:
    hasil = daftar_angka[posisi]
  return hasil

cetak_angka(4, 200,300,-400)

1

**NOMOR 6**

Buatlah sebuah function untuk menampilkan nama siswa yang memiliki nilai paling besar
  * Input : Beberapa nama_siswa beserta nilai_siswa


| No | Input | Output |
| - | - | - |
| 1 | (anwar=90, budi=40, charlie=100) | 'charlie' |
| 2 | (tom=30, rian=90, jim=60, lily=70, abby=40)| 'rian' |
| 3 | (frank=100) | 'frank' |

In [45]:
def cek_nilai(**daftar_siswa):
  print(daftar_siswa)

  daftar_nama = list(daftar_siswa.keys())
  daftar_nilai = list(daftar_siswa.values())

  nilai_maks = 0
  nama_maks = ""
  for index, nilai in enumerate (daftar_nilai):
    if nilai >= nilai_maks:
      nilai_maks = nilai
      nama_maks = daftar_nama[index]

  return nama_maks

nama = cek_nilai(anwar=90, budi=40, charlie=100)
print("Nama siswa dengan skor tertinggi = ", nama)

{'anwar': 90, 'budi': 40, 'charlie': 100}
Nama siswa dengan skor tertinggi =  charlie

## Free Practice

**NOMOR 7**

Buatlah sebuah function untuk menampilkan tanda plus (`+`) berbentuk segitiga dibawah ini.
  * Input : `n` | int
  * Output : Jumlah tanda plus yang dimunculkan.

| Input | Output |
| - | - |
| n = 1 | + |
| n = 2 | ++ <br /> +|
| n = 3 | +++ <br /> ++ <br /> +|
| n = 4 | ++++ <br /> +++ <br /> ++ <br /> +|
| n = 5 | +++++ <br /> ++++ <br /> +++ <br /> ++ <br /> +|
| n = -1 | *--error--* |

**NOMOR 8**

Buatlah sebuah function untuk mengambil huruf vokal dari sebuah teks dan masukkan ke dalam sebuah list. Return list yang terdiri dari huruf vokal tersebut.
  * Input : `teks` | str

| No | Input | Output |
| - | - | - |
| 1 | teks = 'selamat pagi' | ['e', 'a', 'a', 'a', 'i'] |
| 2 | teks = '1002'| [] |
| 3 | teks = 'myth' | [] |

**NOMOR 9**

Buatlah sebuah function untuk mengambil huruf selain huruf vokal (huruf konsonan) dari sebuah teks dan masukkan ke dalam sebuah list. Return list yang terdiri dari huruf konsonan tersebut.
  * Input : `teks` | str
  * Jika karakter tersebut merupakan angka, maka jangan diambil.

| No | Input | Output |
| - | - | - |
| 1 | teks = 'selamat pagi' | ['s', 'l', 'm', 't', 'p', 'g] |
| 2 | teks = '1002'| [] |
| 3 | teks = 'myth' | ['m', 'y', 't', 'h'] |

**NOMOR 10**

Buatlah sebuah function untuk mereturn hasil pengecekan dari sekumpulan angka yang dimasukkan, apakah bilangan pertama merupakan penjumlahan dari bilangan kedua, ketiga, dst (asumsikan bilangan yang dimasukkan tidak terbatas).
  * Input : `bil_1` : bilangan ke-1 | int
  * Input : `bil_2` : bilangan ke-2 | int
  * Input : `bil_3` : bilangan ke-3 | int
  * Input : `bil_4` : bilangan ke-4 | int
  * dst

| No | Input | Output |
| - | - | - |
| 1 | bil_1 = 10, <br/><br/> bil_2 = 20, <br/><br/> bil_3 = 50, <br/><br/> bil_4 = 600 | False |
| 2 | bil_1 = 0, <br/><br/> bil_2 = 10, <br/><br/> bil_3 = -10 | True |
| 3 | bil_1 = 20, <br/><br/> bil_2 = 20 | True |
| 4 | bil_1 = 20 | False |
| 5 | bil_1 = 10, <br/><br/> bil_2 = 200, <br/><br/> bil_3 = 300, <br/><br/> bil_4 = 400 <br/> <br/> bil_5 = 500 | False |

In [48]:
import person

In [49]:
person.devices

['laptop', 'smartphone', 'tablet']

In [50]:
import importlib
importlib.reload(person)

In [54]:
import person
person.name

'zack'