# LATIHAN - P0W1D3AM : FUNCTION

## Required/Keyword Argument

**NOMOR 1**

Buatlah sebuah function untuk menampilkan tanda plus (`+`) sebanyak 
`n`.
  * Input : `n` | int
  * Output : Jumlah tanda plus yang dimunculkan dalam satu baris

| Input | Output |
| - | - |
| n = 1 | + |
| n = 3 | + <br /> + <br /> + |
| n = 5 | + <br /> + <br /> + <br /> + <br /> + |
| n = -1 | *--error--* |

**NOMOR 2**

Buat sebuah function untuk mereturn hanya angka genap (positif/negatif) dari sekumpulan list yang berisi nilai-nilai (tidak termasuk 0).
  * Input : `daftar_angka` : daftar angka-angka | list of int
  * Output : daftar angka-angka genap | list of int

| No | Input | Output |
| - | - | - |
| 1 | daftar_angka = [1, 2, 3, 4, 5, 6] | [2, 4, 6] |
| 2 | daftar_angka = [0, 1, 3, 5, 7, 9] | [] |
| 3 | daftar_angka = [-10, -9, -8, -7]  | [-10, -8] |

## Default Argument

**NOMOR 3**

Buatlah sebuah function untuk menampilkan `nama` dan `negara`. Jika tidak ada value pada parameter `negara`, isi dengan `Indonesia`.
  * Input : `nama` | str
  * Input : `negara` | str

| No | Input | Output |
| - | - | - |
| 1 | nama = Frank <br /> <br /> negara = USA| "Halo Frank dari USA" |
| 2 | nama = Smith <br /> <br /> negara = Jerman| "Halo Smith dari Jerman" |
| 3 | nama = Anton | "Halo Anton dari Indonesia" |
| 4 | negara = Singapura | *--error--* |

**NOMOR 4**

Buatlah sebuah function untuk me-return luas dari dua angka yang dimasukkan berdasarkan jenis bidangnya. 
  * Jika hanya 1 angka yang dimasukkan, maka diasumsikan angka tersebut akan digunakan untuk panjang-dan-lebar atau alas-dan-tinggi.
  * Input : `mode` : jenis bidang (segitiga/persegi) | str
    - `mode = segitiga`
    - `mode = persegi`
  * Input : `bilangan_1` : bilangan ke-1 | int
  * Input : `bilangan_2` : bilangan ke-2 | int
  * Jika tidak ada bilangan yang dimasukkan, maka tampilkan pesan **"Input harus ada angka"**.
  * Angka yang dimasukkan maksimal 2 angka.

> *Rumus luas persegi = bilangan_1 (panjang) * bilangan_2 (lebar)*
> 
> *Rumus luas segitiga = bilangan_1 (alas) * bilangan_2 (tinggi) / 2*

| No | Input | Output |
| - | - | - |
| 1 | mode = persegi, 10, 20 | 200 |
| 2 | mode = segitiga, 10, 20| 100 |
| 3 | mode = persegi | "Input kurang angka" |
| 4 | mode = persegi, 8 | 64 |
| 5 | mode = segitiga, 2, 4, 6 | *-error-* |
| 6 | 10, 20 | *-error-* |

## Variable-Length Argument

**NOMOR 5**

Buatlah sebuah function untuk : 
  * Mereturn angka disuatu posisi berdasarkan bilangan pertama dari sebuah daftar angka-angka. 
  * Urutan posisi dimulai dari bilangan kedua.
  * Jika bilangan pertama melebihi jumlah banyaknya daftar angka-angka, maka return **-1**. 
  * Input : daftar angka 

| No | Input | Output |
| - | - | - |
| 1 | (3, 10, 20, 30, 40) | 40 |
| 2 | (0, -10, 10)| -10 |
| 3 | (1, 2, 300, 10) | 300 |
| 4 | (100, 200, 300, -400) | -1 |
| 5 | (4, 200, 300, -400) | -1 |

**NOMOR 6**

Buatlah sebuah function untuk mereturn hasil pengecekan dari sekumpulan angka yang dimasukkan, apakah bilangan pertama merupakan penjumlahan dari bilangan kedua, ketiga, dst (asumsikan bilangan yang dimasukkan tidak terbatas).
  * Input : `bil_1` : bilangan ke-1 | int
  * Input : `bil_2` : bilangan ke-2 | int
  * Input : `bil_3` : bilangan ke-3 | int
  * Input : `bil_4` : bilangan ke-4 | int
  * dst

| No | Input | Output |
| - | - | - |
| 1 | bil_1 = 10, <br/><br/> bil_2 = 20, <br/><br/> bil_3 = 50, <br/><br/> bil_4 = 600 | False |
| 2 | bil_1 = 0, <br/><br/> bil_2 = 10, <br/><br/> bil_3 = -10 | True |
| 3 | bil_1 = 20, <br/><br/> bil_2 = 20 | True |
| 4 | bil_1 = 20 | False |
| 5 | bil_1 = 10, <br/><br/> bil_2 = 200, <br/><br/> bil_3 = 300, <br/><br/> bil_4 = 400 <br/> <br/> bil_5 = 500 | False |

## Free Practice

**NOMOR 7**

Buatlah sebuah function untuk menampilkan tanda plus (`+`) berbentuk segitiga dibawah ini.
  * Input : `n` | int
  * Output : Jumlah tanda plus yang dimunculkan.

| Input | Output |
| - | - |
| n = 1 | + |
| n = 2 | ++ <br /> +|
| n = 3 | +++ <br /> ++ <br /> +|
| n = 4 | ++++ <br /> +++ <br /> ++ <br /> +|
| n = 5 | +++++ <br /> ++++ <br /> +++ <br /> ++ <br /> +|
| n = -1 | *--error--* |

**NOMOR 8**

Buatlah sebuah function untuk mengambil huruf vokal dari sebuah teks dan masukkan ke dalam sebuah list. Return list yang terdiri dari huruf vokal tersebut.
  * Input : `teks` | str

| No | Input | Output |
| - | - | - |
| 1 | teks = 'selamat pagi' | ['e', 'a', 'a', 'a', 'i'] |
| 2 | teks = '1002'| [] |
| 3 | teks = 'myth' | [] |

**NOMOR 9**

Buatlah sebuah function untuk mengambil huruf selain huruf vokal (huruf konsonan) dari sebuah teks dan masukkan ke dalam sebuah list. Return list yang terdiri dari huruf konsonan tersebut.
  * Input : `teks` | str
  * Jika karakter tersebut merupakan angka, maka jangan diambil.

| No | Input | Output |
| - | - | - |
| 1 | teks = 'selamat pagi' | ['s', 'l', 'm', 't', 'p', 'g] |
| 2 | teks = '1002'| [] |
| 3 | teks = 'myth' | ['m', 'y', 't', 'h'] |

**NOMOR 10**

Buatlah sebuah function untuk menampilkan nama siswa yang memiliki nilai paling besar
  * Input : Beberapa nama_siswa beserta nilai_siswa


| No | Input | Output |
| - | - | - |
| 1 | (anwar=90, budi=40, charlie=100) | 'charlie' |
| 2 | (tom=30, rian=90, jim=60, lily=70, abby=40)| 'rian' |
| 3 | (frank=100) | 'frank' |

## Module

9. Buatlah sebuah function untuk

## MATERI : ADVANCED

1. Pemanggilan beda nama

```
def display_student(name, age):
    print(name, age)

# call using original name
display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)
```

In [ ]:
def display_person(**args):
    for i in args:
        print(i)

display_person(name="Emma", age="25")

name
age

In [ ]:
x=700
def cetak():
  print(x)

cetak()

700

In [ ]:
def create_greeting(name: str) -> str:
    return f"Hello {name}"

## Type Hint

In [1]:
def hitung_luas1(panjang: str, lebar: str) -> str:
  return panjang + lebar

def hitung_luas2(panjang, lebar) -> str:
  return panjang * lebar

hasil1 = hitung_luas1(panjang=10.2, lebar=2)
hasil2 = hitung_luas2(panjang=10, lebar=2)

print('Hasil 1 : ', hasil1, type(hasil1))
print('Hasil 2 : ', hasil2, type(hasil2))

Hasil 1 :  12.2 <class 'float'>
Hasil 2 :  20 <class 'int'>

In [5]:
!python2 --version

Python 2.7.17